@import "../../styles/colors.scss";

.loader {
  border: 4px solid $cl-1b; /* light gray border */
  border-top: 4px solid $cl-1; /* blue border on top */
  border-radius: 50%; /* circular shape */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* animation properties */
  margin: 0 auto; /* center the element horizontally */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* starting point */
  100% {
    transform: rotate(360deg);
  } /* ending point */
}
