@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.overallBook {
  width: 550px;
  height: 800px;

  @media only screen and (max-width: $breakpoint-md) {
    transform: scale(0.55);
  }

  &.isBookColor1 {
    .book {
      background-color: $cl-1;
      color: white;
    }

    .bookBadge {
      background: linear-gradient(0deg, #06d6a0 -1.07%, #ffc43d 98.82%);
    }

    .bookPage {
      border: 3px solid $cl-1;
    }

    .book2 {
      background-color: $cl-1;
    }
  }

  &.isBookColor2 {
    .book {
      background-color: $cl-3;
      color: white;
    }

    .bookBadge {
      background: linear-gradient(0deg, #ef476f -1.07%, #1b9aaa 98.82%);
    }

    .bookPage {
      border: 3px solid $cl-3;
    }

    .book2 {
      background-color: $cl-3;
    }
  }

  &.isBookColor3 {
    .book {
      background-color: $cl-4;
      color: white;
    }

    .bookBadge {
      background: linear-gradient(0deg, #06d6a0 -1.07%, #1b9aaa 98.82%);
    }

    .bookPage {
      border: 3px solid $cl-4;
    }

    .book2 {
      background-color: $cl-4;
    }
  }

  &.isBookColor4 {
    .book {
      background-color: $cl-5;
      color: $black;
    }

    .bookBadge {
      background: linear-gradient(0deg, #ef476f -1.07%, #1b9aaa 98.82%);
    }

    .bookPage {
      border: 3px solid $cl-5;
    }

    .book2 {
      background-color: $cl-5;
    }
  }
}

.book {
  width: 550px;
  height: 800px;

  border-radius: 0.75rem;
  position: relative;

  z-index: 3;

  .bookTitle {
    text-align: center;
    margin-top: 4rem;

    > textarea {
      background-color: transparent;
      font-size: 4rem;
      font-weight: bold;

      width: 100%;
      padding: 1rem 2rem;
      text-align: center;
      resize: none;

      &:focus {
        outline: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &::placeholder {
        color: white;
        opacity: 0.2;
      }
    }
  }

  .bookBadgeContainer {
    height: 25rem;
    display: flex;
    align-items: center;
    position: relative;

    .bookBadge {
      position: absolute;
      width: 100%;
      height: 12.5rem;
      transform: matrix(1, 0.35, 0, 1, 0, 0);
    }
  }
}

.bookPage {
  position: absolute;
  width: 550px;
  height: 800px;
  bottom: 0;

  padding: 3rem 3rem;

  background-color: white;

  border-radius: 0.75rem;
  z-index: 2;

  transform: translateX(10px) translateY(10px);

  > textarea {
    color: $black;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid rgb(180, 180, 180);
    padding: 1.5rem;
    border-radius: 0.5rem;
    resize: none;

    &:focus {
      outline: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::placeholder {
      color: $black;
      opacity: 0.2;
    }
  }
}

.book2 {
  position: absolute;
  width: 550px;
  height: 800px;
  bottom: 0;

  color: white;
  border-radius: 0.75rem;
  z-index: 1;

  transform: translateX(20px) translateY(20px);
}

.controls {
  .controlColorButtons {
    .controlColorButton {
      padding: 1rem;
      border-radius: 50%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      &.isCl1 {
        background-color: $cl-1;
      }

      &.isCl2 {
        background-color: $cl-3;
      }

      &.isCl3 {
        background-color: $cl-4;
      }

      &.isCl4 {
        background-color: $cl-5;
      }

      &.isSelected {
        border: 3px solid $black;
      }
    }
  }
}

.storyLengthButtons {
  .storyLengthButton {
    background-color: $cl-1b;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;

    &.isLengthSelected {
      background-color: $black;
      color: white;
    }
  }
}

.artStyleButtons {
  .artStyleButton {
    background-color: $cl-1b;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;

    &.isArtSelected {
      background-color: $black;
      color: white;
    }
  }
}
